<!DOCTYPE html>
<html lang="en" ng-app="AppModule">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS/RESTful/SOAP FSPOA</title>

        <!-- Bootstrap -->
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <script src="node_modules/angular/angular.min.js"></script>

        <script src="js/app.js"></script>        
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="AppController">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    <button class="btn btn-primary" ng-click="listar()">Carregar Lista via JSON (AJAX)</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    Lista de Seriados:
                    <select class="form-control">
                        <option ng-show="seriados">Lista vazia!</option>
                        <option
                            ng-repeat="(key, value) in seriados"                            
                            ng-click="consultar(value.id)"
                            value="{{value.id}}">
                            {{value.titulo}}
                        </option>
                    </select>                    
                </div>
            </div>
            
            <div class="row" ng-hide="!debug">
                <div class="col-md-12">
                    <br /><br />
                    <pre>{{debug | json}}</pre>
                </div>
            </div>
            
        </div>
        
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
    